

<div class="container">
    <nav class="sub-nav">

        <div class="search-container">
            <img src="https://crashchampions.com/themes/crashchampions/assets/images/crash-champions.png">
        </div>

    </nav>

    <div class="article-container" id="article-container">
        <div class="aspect-ratio">
            <iframe name="navFrame" src="https://training-2-4niyd.ondigitalocean.app/welcome/index.html"></iframe>
        </div>

    </div>
</div>
