

<div class="container">
    <nav class="sub-nav">
        {{breadcrumbs}}
        <div class="search-container">
            <img src="https://crashchampions.com/themes/crashchampions/assets/images/crash-champions.png">
        </div>

    </nav>

    <div class="article-container" id="article-container">
        <aside class="article-sidebar" aria-labelledby="section-articles-title">
            <iframe name="navFrame" src="https://log1c.training/navigation.html" title="Log1c Training Navigation" height="100%" scrolling="no" style="width:100%;"></iframe>
        </aside>

        <article id="main-content" class="article">
            <iframe name="contentFrame" src="https://log1c.training/published/welcome/index.html" title="Welcome to Log1c" height="100%" scrolling="no" style="width:100%; background:#E0E0E0"></iframe>

        </article>
    </div>
</div>
